/build/
.DS_Store
.DS_Store
.gradle/6.1/executionHistory/executionHistory.bin
.gradle/6.1/executionHistory/executionHistory.lock
.gradle/6.1/fileChanges/last-build.bin
.gradle/6.1/fileContent/fileContent.lock
.gradle/6.1/fileHashes/fileHashes.bin
.gradle/6.1/fileHashes/fileHashes.lock
.gradle/6.1/gc.properties
.gradle/6.1/javaCompile/classAnalysis.bin
.gradle/6.1/javaCompile/javaCompile.lock
.gradle/6.1/javaCompile/taskHistory.bin
.gradle/buildOutputCleanup/buildOutputCleanup.lock
.gradle/buildOutputCleanup/cache.properties
.gradle/buildOutputCleanup/outputFiles.bin
.gradle/checksums/checksums.lock
.gradle/checksums/sha1-checksums.bin
.gradle/nb-cache/FlashCards-1508094177/gradle.properties
.gradle/nb-cache/FlashCards-1508094177/project-info.ser
.gradle/nb-cache/trust/B98D5DAD6CE7B7EA7482FA09ABA395ECA4FA1D306F5BA3A5831D2BB720A559A4
.gradle/vcs-1/gc.properties
.DS_Store
.DS_Store
hs_err_pid36871.log
hs_err_pid67457.log
hs_err_pid67633.log
hs_err_pid67736.log
hs_err_pid67892.log
LessonLog.txt
